<form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
  {% if product.available %}

  <input name="id" value="{{ product.variants.first.id }}" type="hidden">

  {% include 'quantity-button' %}

  <!-- <label for="quantity">{{ 'product.quantity' | t }}</label>
  <input type="number" class="js-quantity-field sr-only" id="quantity" name="quantity" value="1" min="1" max="{{ product.variants.first.inventory_quantity }}">

  <button class="quantity-button minus" type="button" disabled>&ndash;</button>
  <span class="quantity-text">1</span>
  <button class="quantity-button plus" type="button">+</button> -->

  <button type="submit" name="add" class="add-to-cart-button">{{ 'product.submit' | t }} <span class="add-cart-button-price">{{ product.price | money}}</span></button>

  {% endif %}
</form>