<a href="{{ item.url }}" class="cart-item">
    <div class="line-image">
        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
    </div>

    <div class="line-info">
        <div class="line-top">
            <h2>{{ item.product.title }}</h2>
            <a class="remove-item" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
        </div>
        <div class="line-bottom">

            {% assign quantity_id = 'updates_' | append: item.key %}
            {% include 'quantity-button' with name: 'updates[]', id: quantity_id, value: item.quantity, min: 1, max: item.product.variants.first.inventory_quantity, field_class:'js-line-quantity' %} 
            
            <p>{{ item.line_price | money_without_trailing_zeros }}</p>
            
        </div>
    </div>
</a>

    

