<footer class="footer-global">
    <div class="footer-top">
        <a href="/" class=logo><p>{{ 'general.title' | t }}</p></a>

        <ul class="footer-list">
            {% for link in linklists.footer.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="footer-right">
        {% assign copyright_date = 'now' | date:'%Y' %}
        <span>{{ 'footer.copyright' | t: date:copyright_date }}</span>

        <div class="social-link">
            <a href="{{ 'footer.social.plumb_url' | t}}" target="new"><img src="{{ 'plumb.png' | asset_img_url: '35x' }}" alt="plum drawing"></a>
            <a href="mailto:{{ 'footer.social.email_link' | t}}"><img src="{{ 'mail-02.png' | asset_img_url: '50x' }}" alt="mail envelope"></a>
        </div>
    </div>

</footer>
