
<div class="quantity-picker">
  <label for="{{ id }}">{{ 'product.quantity' | t }}</label>
  
  <input type="number" class="js-quantity-field sr-only" id="{{ id }}" name="{{ name }}" value="{{ value }}" {% if min != blank %}min="{{ min }}"{% endif %} {% if max != blank %}max="{{ max }}"{% endif %}>
  
  <button class="quantity-button minus" type="button">&ndash;</button>
  <span class="quantity-text">{{ value }}</span>
  <button class="quantity-button plus" type="button">+</button>
</div>
